.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: var(--mantine-radius-md);
  height: 90px;
  background-color: rgba(100, 100, 255, 0.1) !important;
  transition:
    box-shadow 150ms ease,
    transform 150ms ease;
}

.item:hover {
  box-shadow: 
    0 0 5px 1px rgba(33, 114, 244, 0.8),   /* blue glow */
    0 0 10px 2px rgba(147, 51, 234, 0.8);  /* purple glow */
    transform: scale(1.05);
}

.card {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  border: 1px solid transparent;
  border-radius: var(--mantine-radius-md);
  box-shadow: 0 0 0 1px rgba(100, 100, 255, 0.2); /* subtle base outline */
  transition: box-shadow 0.3s ease;
}

/* Glowing border on hover */
.card:hover {
    box-shadow: 0 0 10px 2px rgba(100, 100, 255, 0.3),
                0 0 20px 4px rgba(147, 51, 234, 0.3);
}

.title {
  font-family: Outfit, var(--mantine-font-family);
  font-size: 1rem;
  text-align: center;
  text-shadow: 0 4px 12px rgba(147, 51, 234, 0.8); /* subtle purple glow */
}
