.container {
    box-shadow: 0 0 10px 2px rgba(100, 100, 255, 0.25),
                0 0 20px 4px rgba(147, 51, 234, 0.25);

    border-radius: 30px;
    padding: 30px 30px 50px 30px;
    display: 'flex';
    justify-content: 'center';
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
}