.wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
}

.container {
  flex: 1;
  padding: var(--mantine-spacing-xl);
  border: 20px solid rgba(100, 100, 255, 0.1) !important;
  border-radius: 15px;
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  width: 700px;
  

  @media (max-width: $mantine-breakpoint-sm) {
    padding: var(--mantine-spacing-md);
    padding-left: var(--mantine-spacing-md);
  }
}


.connect {
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  padding: 10px;
  border-radius: 15px;
}
