.wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
}

.container {
  flex: 1;
  padding: var(--mantine-spacing-xl);
  //border: 0px solid rgba(0, 0, 0, 0.1) !important;
  outline: 35px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 30px;
  width: 600px;
  background-color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-7));
    
  @media (max-width: $mantine-breakpoint-sm) {
    padding: var(--mantine-spacing-md);
    padding-left: var(--mantine-spacing-md);
  }
}

.form {
  padding: 0px 30px 30px 30px;
}

.input {
  width: 500px;
}

.hr {
  width: 500px;
  border: 1px solid light-dark(var(--mantine-color-dark-1), var(--mantine-color-dark-4)) !important;
  border-radius: 20px;
}


.connect {
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  padding: 30px;
  border-radius: 15px;
  width: 500px;
}
