.header {
  position: fixed;
  z-index: 1000;
  width: 100%; 
  height: 56px;
  top: 0; 
  margin-bottom: 120px;
  background-color: rgba(var(--mantine-color-body-rgb), 0,5) !important;
  backdrop-filter: blur(10px);
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gradientText{
  background: linear-gradient(to right, #2172f4, #9333ea); /* your blue-purple gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;     /* fallback */
  margin-left: 50px;
}

.links {
  margin-left: auto;
}

.links a {
  position: relative;
  display: inline-block;
  padding: 8px 12px;
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease;
}

/* Dark theme: gray-4 */
[data-mantine-color-scheme="dark"] .links a {
  color: var(--mantine-color-gray-4);
}

/* Light theme: gray-7 */
[data-mantine-color-scheme="light"] .links a {
  color: var(--mantine-color-gray-7);
}

/* === Hover Styles === */

/* Dark theme: white text */
[data-mantine-color-scheme="dark"] .links a:hover {
  color: var(--mantine-color-white);
}

/* Light theme: black text */
[data-mantine-color-scheme="light"] .links a:hover {
  color: var(--mantine-color-black);
}



.links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #2172f4, #9333ea); /* blue-purple gradient */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.links a:hover::after {
  transform: scaleX(1);
}

/* === Active clicked links === */
.links a[data-active="true"] {
  background: linear-gradient(to right, #2172f4, #9333ea); /* blue-purple gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.links a[data-active="true"]::after {
  transform: scaleX(1);
}




/* Light Mode */

.lightMode {
  margin-left: 50px;
  margin-right: 50px;
}

.icon {
  width: 22px;
  height: 22px;
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}