.root {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  box-shadow: var(--mantine-shadow-md);
  border: 1px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4));
}

.indicator {
  background-image: linear-gradient(to right, #2172f4, #5b43d6, #9333ea);
  transition: box-shadow 150ms ease !important;
  box-shadow: 0 0 20px 4px rgba(100, 100, 255, 0.25),
              0 0 20px 4px rgba(147, 51, 234, 0.25) !important; /* subtle base outline */
}

.control {
  &::before {
    display: none;
  }
}

.label {    
  &:hover {
    background-color: rgba(100, 100, 255, 0.25) !important;
    text-shadow: 0 4px 12px rgba(147, 51, 234, 0.8); /* subtle purple glow */
  }
  &,
  &:hover {
    &[data-active] {
      color: var(--mantine-color-white);
    }
  }
}